.container {
  height: 100vh;
  width: 100vw;
  position: relative;
}
.min-container {
  position: absolute;
  bottom: 0;
  height: 40%;
  width: 30%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row-reverse;
  background-color: grey;
  justify-content: space-between;
}
.box1 {
  width: 150px;
  height: 150px;
  background-color: black;
  align-self: flex-end;
}
.box2 {
  width: 150px;
  height: 150px;
  background-color: black;
}
