.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.min-container {
  height: 400px;
  width: 400px;
  background-color: grey;
  justify-content: center;
  align-items: center;
  display: flex;
}
.small-box {
  height: 250px;
  width: 250px;
  background-color: black;
}
